<h2>Categories</h2>

<div class="row">
	<% @categorybookmarks.each do |category| %>
		<div class="col-sm-3">
			<div class="caption">
				<%= link_to "#{category.name}", category_bookmark_path(category)%>
			</div>

		</div>
		<% end %>
</div>