<!-- <div class="animated bounce"> -->
<div id="full-width-img" class="col-sm-12">
<% @favorites.each do |favorite| %>

 <div class="col-xs-12 col-md-4 img-responsive"><a href="<%= favorite.bookmark.url %>" target="_blank">
		<img class="logo" src="<%= favorite.bookmark.logo %>" alt>
		</a>
  </div>
 <% end %>

</div>
