body {
  height: 680px;
}
#main .navbar-default {
  background-color: rgba(255,255,255,0.4);
  border-bottom: 0;

}

form {
  margin-top: 1.5em;
}


#about {
   top: 620px;
}

#us img{
   width: 80px;
   height: 80px;

}

.detail {
   font-size: 20px;
}

.toTop {
  margin-top: 400px;
  display: inline-block;
  background: #0bd;
  padding: 15px;
  color: #fff;
  cursor: pointer;
}

.row {
  border: 4px solid pink;
}

.logo {
  position: absolute;
  width: 40%;
  left: 29%;
  top: 23%;
}

#full-width-img.col-sm-12 {
  padding-left: 0;
  padding-right: 0;
  /*display: none;*/
}

#full-width-img.col-sm-12 .col-md-4.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

.logo-container {
  position: relative;
  overflow: hidden;
  background-color: grey;
}

.logo-container:nth-child(even) {
  background-color: lightblue;
}


/*modal popup*/
h2 {
  text-align: center;
}

.p {
  text-align: center;
  padding-top: 130px;
}


