<h2>Bookmarks</h2>

<div class="row">
	<% @bookmarks.each do |bookmark| %>
		<div class="col-sm-3">
			<div class="caption">
				<%= bookmark.name %>
			</div>
			<div>
				<%= bookmark.url %>
			</div>
		</div>
		<% end %>
</div>
