<h2>Bookmarks</h2>

<div class="row">
	<% @bookmarks.each do |bookmark| %>
		<div class="col-sm-3">
			<div class="caption">
				Category: <%= bookmark.category_bookmarks[1] %>
			</div>
			<div class="caption">
				Bookmark: <%= link_to "#{bookmark.name}", bookmark_path(bookmark) %>
			</div>
			<div>
				URL: <%= bookmark.url %>
			</div>
		</div>
		<% end %>
</div>
